@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Karla:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  transition: .2s;
}
body{
  overflow-x: hidden;
}
:root {
  --Very-Dark-Violet: hsl(221, 83%, 48%);
  --Dark-Grayish-Violet: hsl(239, 76%, 15%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Dark-Violet:hsl(201,100%,14%);
  --Grayish-Blue: hsl(216, 30%, 68%);
}
.h3 {
  font-size: 4rem;
  font-family: "DM Serif Display", serif;
  font-weight: 500;
  line-height: 70px;
  margin-bottom: 40px;
}

.main {
  display: flex;
  justify-content: space-evenly;
}

.main-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-02 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 250px;
  column-gap: 2rem;
  row-gap: 3rem;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 2%;
}
.menu-icon{
  display: none;
}
.container .logo{
   width: 40%;
   font-size: 130%;
   background: linear-gradient(to right, #00DBDE 0%, #FC00FF 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
nav {
  padding: 20px 0;
  background-color: white;
  z-index: 13;
  position: relative;
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  color: var(--Dark-Grayish-Violet);
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
}
.bg-pattern-nav{
  display: none;
}
nav a:hover {
  color: var(--Very-Dark-Violet);
}

nav a.view-plans {
  border: 2px solid black;
  color: black;
  font-weight: 500;
}

nav a.view-plans:hover {
  background-color: black;
  color: white;
}

/* banner */
.banner {
  background-color: var(--Dark-Violet);
  padding: 70px 0 150px 0;
}

.banner .container {
  display: flex;
  justify-content: space-between;
}

.banner .banner__text {
  width: 50%;
  color: white;
}

.banner .banner__text h1 {
  font-size: 4em;
  font-family: "DM Serif Display", serif;
  font-weight: 500;
  line-height: 70px;
  margin-bottom: 40px;
}

.banner .banner__text p {
  margin-bottom: 40px;
}

.banner .banner__img {
  width: 80%;
  position: relative;
}

img{
    border: none;
}

.banner .banner__img img {
  position: absolute;
  width: 100%;
}

.pattern {
  position: absolute;
}

.pattern.right {
  top: 0;
  right: 0;
}

.btn {
  background-color: #2685BF;
}

/* end banner */

.diferent {
  margin-top: 0;
}

.card-container {
  display: contents;
}
.card {
  height: 560px;
  display: flex;
}
.card-historia {
  height: 740px !important;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.card-link {
  text-decoration: none;
  color: var(--bs-card-title-spacer-y);
}

.diferent .cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.diferent .cards .card-item {
  width: 33%;
  margin-right: 40px;
}

.diferent .cards .card-item .titulo {
  font-family: "DM Serif Display", serif;
  font-size: 1.5rem;
  margin: 20px 0;
  color: var(--Dark-Violet);
}

.diferent .cards .card-item .description {
  color: var(--Dark-Grayish-Violet);
}

.bottom-card {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: justify;
  justify-content: center;
  bottom: 2rem;
}

.btn-trilha {
  background-color: #2685BF;
  padding: .75em 1.5em;
  color: white;
  text-decoration: none;
  border-radius: 0.375rem;
  margin-bottom: 2rem;
}
.btn-trilha span {
  font-weight: 600;
  font-size: 18px;
}
.btn-trilha:hover {
  color: white;
}

.find {
  margin-top: 150px;
}

.find .pattern-find {
  position: absolute;
  top: -28px;
  right: -98px;
}

.find-background {
  width: 100%;
  text-align: center;
}

.find .find-background {
  position: relative;
  padding: 40px 50px;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  overflow: hidden;
}

.find .container h2 {
  margin: 0;
  font-size: 2em;
  text-align: center;
}

.btn-cadastro {
  background-color:	#2685BF;
}

/* cards trilhas index */
/*end trilhas*/

/* footer */
.footer {
  margin-top: 90px;
  background: #fafafa;
  padding: 50px 0;
  position: relative;
}

.footer .footer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dbdadd;
  padding-bottom: 40px;
}

.footer-header .medias-socias img {
  margin-left: 10px;
  cursor: pointer;
}

.footer-header .medias-socias img:hover {
  filter: brightness(0);
}

/* form content */
.footer-content {
  display: flex;
  margin-top: 35px;
}

.footer-content div {
  width: 25%;
}

.footer-content div h3 {
  margin-bottom: 15px;
  color: var(--Dark-Grayish-Violet);
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
}

.footer-content div a {
  display: block;
  color: var(--Dark-Violet);
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 50px 0;
}

.footer-content div a:hover {
  text-decoration: underline;
}

.footer .patern {
  position: absolute;
  top: 0;
}

.footer .container {
  position: relative;
}

/*header trilhas*/
.header-trilhas {
  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
  background-color: white;
  top: 0;
  position: fixed;
  z-index: 501;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.158);
}
.back-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
}
.back-icon span {
  color: rgba(9, 10, 67, 0.6);
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: 6%;
}

.logo-container .logo{
  font-size: 130%;
  background: linear-gradient(to right, #00DBDE 0%, #FC00FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo span {
  font-size: 32px;
  font-weight: 500;
}

.trilha-main {
  width: 96%;
  display: flex;
}

.conteudo-main {
  position: relative;
  margin-left: 200px;
  margin-top: 100px;
  width: 87%;
}

.conteudo-container {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  width: 100%;
  justify-content: flex-start;
}

.nvl-main {
  background-color: #efeff3;
  position: fixed;
  top: 8%;
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 500;
}

.nvl-column-container {
  position: relative;
  display: flex;
  margin-top: 2rem;
}

.nvl-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nvl-title {
  display: flex;
  align-items: center;
  color: var(--Dark-Grayish-Violet);
  border-radius: 100%;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 2rem;
}

.nvl-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: .75rem 0;
  text-decoration: none;
}
.current-page {
  background-color: white;
}

.nvl-desc {
  margin-left: 1rem;
  color: rgba(0, 0, 0, 0.76);
}

.disabled .nvl-title {
  color: var(--Grayish-Blue);
  opacity: 0.6;
}

.btn-complete-nvl {
  padding: .7em 1em;
  background-color: var(--Dark-Grayish-Violet);
  text-decoration: none;
  color: white;
  border-radius: 0.375rem;
  width: fit-content;
  font-weight: 500;
}
.btn-complete-nvl:hover {
  color: white;
} 
.btn-complete-nvl-completed {
  padding: .7em 1em;
  background-color: #c5c5c5;
  text-decoration: none;
  color: var(--Dark-Grayish-Violet);
  border-radius: 0.375rem;
  width: fit-content;
  font-weight: 500;
}
/*fim do header trilhas*/

@media (max-width: 800px) {

  .main-02 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 250px;
  column-gap: 2rem;
  row-gap: 3rem;
  }

  .bg-pattern-nav{
    display: block;
    position: relative;
    bottom: -78px;
    width: 100%;
  }
  .menu-icon{
    display: block;
    cursor: pointer;
  }
  nav.open{
    position: fixed;
    width: 100%;
  }
  nav.open ul{
    left: 0;
    opacity: 1;
  }
  nav ul{
    margin-top: 96px;
    padding-top: 40px;
    background-color: var(--Very-Dark-Violet);
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 0;
  }
  nav a{
    color: #fafafa;
    font-size: 18px;
    margin: 5px 0;
  }
  nav a.view-plans{
    border: 2px solid white;
    color: white;
    font-weight: 500;
  }
  
  nav a.view-plans:hover {
    background-color: black;
    border-color: black
  }
  section.banner {
    padding: 0;
    position: relative;
  }

  section.banner .line {
    display: none;
  }

  section.banner .container {
    flex-wrap: wrap-reverse;
    padding: 0;
  }

  section.banner .banner__img,
  section.banner .banner__text {
    width: 100%;
  }

  section.banner .banner__text {
    padding: 0 4%;
    margin: 120px 0;
    text-align: center;
  }

  section.banner .banner__text h1 {
    position: relative;
    z-index: 1;
  }

  section.banner .banner__img img {
    position: relative;
    z-index: 11;
  }

  .pattern.right {
    top: 925px;
    right: -104px;
    width: 229px;
  }

  .pattern {
    position: absolute;
    top: 512px;
    width: 117px;
  }

  .diferent {
    margin-top: 100px;
    text-align: center;
  }

  .diferent .line {
    margin: 60px auto;
  }

  .diferent .cards {
    flex-wrap: wrap;
    justify-content: center;
  }

  .diferent .card-item {
    margin: 10px;
  }

  .footer-content {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-content div {
    width: 40%;
    margin: 10px;
  }

  .logo span {
    font-size: 28px;
    font-weight: 500;
  }
  .back-icon span {
    color: rgba(9, 10, 67, 0.6);
    font-size: 16px;
  }
  .nav-800 {
    position: absolute;
    right: 2rem;
  }

  .nvl-main {
    display: none;
    opacity: 0;
  }

  .conteudo-main {
    margin-left: 0;
  }

  .trilha-main {
    justify-content: center;
    width: 100%;
  }

  .conteudo-container {
    margin-left: 0;
    display: flex;
  }

  .nvl-open {
    display: block;
    z-index: 901;
    width: 100%;
    height: 70%;
    bottom: 0;
    position: fixed;
    background-color: #efeff3;
  }
  .row-cols-md-3 {
    
  }
}

@media (max-width:600px) {

  .main-02 {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-columns: 250px;
    column-gap: 2rem;
    row-gap: 3rem;
    }

  .diferent .cards .card-item {
    width: 100%;
  }

  .logo span {
    font-size: 22px;
    font-weight: 500;
  }
}

@media (max-width:400px) {
  .find .container h4 {
    font-size: 2em;
    line-height: normal;
  }

  .footer-content div {
    width: 100%;
  }
  /* Início das Telas História */

  /* Trilhas_tech */

  .container mt-3 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh; 
}

.container > div {
  width: 100px;
  height: 140px;
  border-radius: 10%;
}
}

/* Inicio Tela de Login*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container-login {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}

.img-box {
  width: 50%;
  height: 100%;
  padding: 20px;
}

.img-box img {
  width: 100%;
  height: 100%;
}

.content-box {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
}

.content-box .form-box {
  width: 50%;
  margin-left: 6rem;
}

.content-box .form-box .ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-box .form-box .ul li {
  list-style: none;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 7px;
  cursor: pointer;
  transition: 0.3s;
}

.content-box .form-box .ul li:hover {
  background: #e4e4e4;
}

.form-box .ul li img {
  width: 40px;
}

.content-box .form-box h2 {
  color: #32324f;
  font-weight: 600;
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: 15px;
  text-align: center;
}

.content-box .form-box .input-box {
  margin-bottom: 20px;
}

.content-box .form-box .input-box input {
  width: 100%;
  padding: 10px;
  outline: none;
  font-weight: 400;
  border: none;
  font-size: 17px;
  color: #32324f;
  background-color: #ecf2f7;
  border-radius: 5px;
}

.content-box .form-box .input-box span {
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  color: #32324f;
  font-weight: 400;
}

.content-box .form-box .input-box input::placeholder {
  color: #a9adb6;
}

.content-box .form-box .input-box input[type=submit] {
  background: #6E6BBF;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s;
}

.content-box .form-box .input-box input[type=submit]:hover {
  background: #3286ca;
}

.content-box .form-box .remember{
  margin-bottom: 20px;
  color: #32324f;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.content-box .form-box .remember a{
  text-decoration: none;
  color: #4aa4ee;
}
.content-box .form-box .remember a:hover{
  color: #3286ca;
}

.content-box .form-box .input-box p {
  color: #32324f;
}
.content-box .form-box .input-box p a{
  color: #4aa4ee;
}

.content-box .form-box .input-box p a:hover{
  color: #3286ca;
}
.content-box .form-box h3
{
  color: #607d8b;
  text-decoration: none;
  margin: 40px 0 15px;
  font-weight: 500;
  text-align: center;
  font-size: 22px;
}
@media (max-width:868px) {
  .container-login .img-box{
      display: none;
  }
  .container-login .content-box{
      width: 100%;
  }
  .container-login .content-box .form-box{
      width: 100%;
      padding: 40px;
      background: white;
      margin: 50px;
  } 
  .container-login .content-box .form-box h3{
      margin: 30px 0 10px;
  } 
}
@media (max-width:450px) {
  .container-login .content-box .form-box .remember{
      flex-wrap: wrap;
  }
  .container-login .content-box .form-box .remember a{
      margin-top: 20px;
  }
  
}

/* Fim Tela de Login*/